.DS_Store

# API
config.toml

# APP
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*

app/node_modules
app/dist
app/dist-ssr
app/*.local