@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media (min-width: 1280px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }
}

.story p {
  padding-top: 0.8rem;
}

.tab {
  opacity: 0.7;
}

.tab-active {
  opacity: 1;
}